/* lab3 css file */

/* universal, background color */
*{
  --main-color: #6495ED;
}
/* background color, RGB, fallback, margin, font */
body {
  background-color: var(--main-color, rgb(50,82,171));
  margin-left: 0.5cm;
  margin-right: 0.5cm;
  margin-top: 0.5cm;
  margin-bottom: 0.5cm;
}
/* padding, text align */
header{
  padding: 1rem;
  text-align: center;
}
/* color name, text decoration, child combinator*/
div > h1{
  color: navy;
  text-decoration: underline;
}
/* hsl color, descendant combinator */
main h2{
  color: hsl(196, 100%, 33%);
}
/* border, display, height */
img{
  display: inline-block;
  border-color: rgb(50,82,171);
  border-style: double;
  border-width: 0.5rem;
  border-radius: 15px;
  height: 500px;
}
/*border, display, margin, max width*/
audio{
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: rgb(50,82,171);
  /*max-width: none;*/
}
/* display, border, width */
video{
  display: block;
  border-color: rgb(50,82,171);
  border-style: dotted;
  border-width: thick;
  border-radius: 15px;
  width: 500px;
}
/* display grid and gap */
section{
  display: grid;
  gap: 10px;
}
/* padding, min width, grid*/
section#attendance{
  padding-left: 5%;
  padding-right: 0%;
  padding-top: 5%;
  padding-bottom: 0%;
  min-width: auto;
  display: grid;
  justify-items: center;
  grid-template-columns: fit-content;
  grid-template-rows: auto;
  grid-template-areas: none;
  grid-gap: 5px;
}
ul{
  width: 100%;
  margin-right: 1.5cm;
  display: grid;
  grid-template-columns: fit-content;
  justify-items: center;
  grid-row-gap: 5px;
}
li{
  background-color: #B0C4DE;
  padding: 10px;
  border-radius: 5px;
}


/* positions, flex*/
section#agenda{
  position: relative;
  display: flex;
  flex-direction: row;
  row-gap: 5px;
  justify-content: center;
  align-items: center;
}
.agenda-item{
  background-color: #D8BFD8;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
}


section#unfinished{
  position: static;
}
/* general sibling combinator, adjacent sibling combinator, combining two sectors */
section#new{
  position: static;
}
.new-item + .new-item{
  margin-top: 5px;
}
.new-item ~ .new-item {
  border-top: 1px solid navy; 
}
div.new-item{
  background-color: #1679AB;
}
section#miscellaneous{
  position: static;
}
/* display none */
form{
  display: block;
}
/* pseudo class */
button:hover{
  color: color(display-p3 0.814 0.322 0.496);
}
/* media */

  
  







