/* lab3 css file */

/* background color */
:root {
  --main-color: #6495ED;
}
/* background color, RGB, fallback, margin, font */
body {
  background-color: var(--main-color, rgb(50,82,171));
  margin-left: 0.5cm;
  margin-right: 0.5cm;
  margin-top: 0.5cm;
  margin-bottom: 0.5cm;
}
/* padding, text align */
header{
  padding: 1rem;
  text-align: center;
}
/* color name, text decoration */
header h1{
  color: navy;
  text-decoration: underline;
}
/* hsl color */
header h2{
  color: hsl(208, 27%, 50%);
}
/* border, display, height */
img{
  display: inline-block;
  border-color: rgb(50,82,171);
  border-style: double;
  border-width: 0.5rem;
  border-radius: 15px;
  height: 200px;
}
/*border, display, margin, max width*/
audio{
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: rgb(50,82,171);
  max-width: fit-content;
}
/* display, border, width */
video{
  display: block;
  border-color: rgb(50,82,171);
  border-style: dotted;
  border-width: thick;
  border-radius: 15px;
  width: 200px;
}
/* display grid and gap */
section{
  display: grid;
  gap: 10px;
}
/* padding and min width */
section#attendance{
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  min-width: auto;
}
/* positions */
section#agenda{
  position: relative;
  display: flex;
  
}
section#unfinished{
  position: static;
}
section#new{
  position: static;
}
section#miscellaneous{
  position: static;
}
/* display none */
form{
  display: block;
}
/* pseudo class */
button:hover{
  color: color(display-p3 0.814, 0.322 0.496);
}

  
  







